body {
    background-color: #f9a03f;
    color: #000000;
    font-family: Georgia;
}

h1 {
    text-align: center;
    color: #aa00aa;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

th {
    border: 2px solid #b22222;
}

td {
    border: 2px solid #4d6066;
}

.code {
    background-color: #dff0d8;
    font-family: monospace;
}